# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/testy/.vs
*.log
/testy/basetypes/ARM64
/testy/genclassifier/ARM64
/testy/interpreter/ARM64
/testy/scanner/ARM64
/testy/scanner/x64
/testy/scanner/x64
/testy/scanner/x64
/testy/testy/ARM64
/testy/tokenizer/ARM64
/testy/test_ps_interpreter/x64
/testy/test_ps_interpreter/ARM64
/testy/scanner/x64
/testy/scanner/x64
/testy/interpreter/x64
*.log
